<div class="jobs_form_background">
    <div class="container-fluid">
        <div class="table-responsive">          
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nume</th>
                        <th>Proiect</th>
                        <th>Descriere</th>
                        <th>Cunostinte necesare</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text"><span>1</span></td>
                        <td class="text"><span>JavaScript Developper</span></td>
                        <td class="text"><span>IndigoPro</span></td>
                        <td class="text"><span class="wrapTextTooltip" data-original-title="aaaaaaaaavvvvvvvvvvvvvvvvvvvvvvvvv&#013;kkajja" data-toggle="tooltip" data-placement="right" tooltipoverflow>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<span></td>
                        <td class="text"><span>ExtJs, Java</span></td>
                    </tr>
                    <tr>
                        <td class="text"><span>2</span></td>
                        <td class="text"><span>Java Developper</span></td>
                        <td class="text"><span>Avaya</span></td>
                        <td class="text"><span class="wrapTextTooltip" data-original-title="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa" data-toggle="tooltip" data-placement="right" tooltipoverflow>aaaaaaaaaaaaaaaa<span></td>
                        <td class="text"><span>ExtJs, Java</span></td>
                    </tr>
                    <tr>
                        <td class="text"><span>3</span></td>
                        <td class="text"><span>C++ Developper</span></td>
                        <td class="text"><span>EXtreme</span></td>
                        <td class="text"><span class="wrapTextTooltip" data-original-title="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa!" data-toggle="tooltip" data-placement="right" tooltipoverflow>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<span></td>
                        <td class="text"><span>C++</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>