<div class="form-group">
    <label class="label_style jobs_label">Nume job:</label>
    <input class="form-control bottom_space" name="jobName" ng-model="jobData.jobName" id="jobName" required>
</div>
<div class="form-group">
    <label class="label_style jobs_label">Proiect:</label>
    <input class="form-control bottom_space" name="jobProject" ng-model="jobData.jobProject" id="jobProject" required>
</div>
<div class="form-group">
    <label class="label_style jobs_label">Descriere:</label>
    <textarea rows="5" class="form-control bottom_space" name="jobDescription" ng-model="jobData.jobDescription" id="jobDescription" required></textarea>
</div>
<div class="form-group">
    <label class="label_style jobs_label">Cunostinte necesare:</label>
    <textarea rows="3" class="form-control bottom_space" name="jobRequirements" ng-model="jobData.jobRequirements" id="jobRequirements" required></textarea>
</div>
<div class="form-group">
    <label class="label_style jobs_label">Intrebarea 1:</label>
    <textarea rows="5" class="form-control bottom_space" name="question1" ng-model="jobData.question1" id="question1" required></textarea>
</div>
<div class="form-group">
    <label class="label_style jobs_label">Variante de raspuns:</label>
    <div class="row">
        <div class="col-sm-4">
            <textarea rows="3" class="form-control bottom_space" name="response1Q1" ng-model="jobData.response1Q1" id="response1Q1" required></textarea>
        </div>
        <div class="col-sm-4">
            <textarea rows="3" class="form-control bottom_space" name="response2Q1" ng-model="jobData.response2Q1" id="response2Q1" required></textarea>
        </div>
        <div class="col-sm-4">
            <textarea rows="3" class="form-control bottom_space" name="response3Q1" ng-model="jobData.response3Q1" id="response3Q1" required></textarea>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="label_style jobs_label">Raspuns corect:</label>
    <textarea rows="3" class="form-control bottom_space" name="correctResponseQ1" ng-model="jobData.correctResponseQ1" id="correctResponseQ1" required></textarea>
</div>
<div class="form-group">
    <label class="label_style jobs_label">Intrebarea 2:</label>
    <textarea rows="5" class="form-control bottom_space" name="question2" ng-model="jobData.question2" id="question2" required></textarea>
</div>
<div class="form-group">
    <label class="label_style jobs_label">Variante de raspuns:</label>
    <div class="row">
        <div class="col-sm-4">
            <textarea rows="3" class="form-control bottom_space" name="response1Q2" ng-model="jobData.response1Q2" id="response1Q2" required></textarea>
        </div>
        <div class="col-sm-4">
            <textarea rows="3" class="form-control bottom_space" name="response2Q2" ng-model="jobData.response2Q2" id="response2Q2" required></textarea>
        </div>
        <div class="col-sm-4">
            <textarea rows="3" class="form-control bottom_space" name="response3Q2" ng-model="jobData.response3Q2" id="response3Q2" required></textarea>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="label_style jobs_label">Raspuns corect:</label>
    <textarea rows="3" class="form-control bottom_space" name="correctResponseQ2" ng-model="jobData.correctResponseQ2" id="correctResponseQ2" required></textarea>
</div>
<div class="form-group">
    <label class="label_style jobs_label">Intrebarea 3:</label>
    <textarea rows="5" class="form-control bottom_space" name="question3" ng-model="jobData.question3" id="question3" required></textarea>
</div>
<div class="form-group">
    <label class="label_style jobs_label">Variante de raspuns:</label>
    <div class="row">
        <div class="col-sm-4">
            <textarea rows="3" class="form-control bottom_space" name="response1Q3" ng-model="jobData.response1Q3" id="response1Q3" required></textarea>
        </div>
        <div class="col-sm-4">
            <textarea rows="3" class="form-control bottom_space" name="response2Q3" ng-model="jobData.response2Q3" id="response2Q3" required></textarea>
        </div>
        <div class="col-sm-4">
            <textarea rows="3" class="form-control bottom_space" name="response3Q3" ng-model="jobData.response3Q3" id="response3Q3" required></textarea>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="label_style jobs_label">Raspuns corect:</label>
    <textarea rows="3" class="form-control bottom_space" name="correctResponseQ3" ng-model="jobData.correctResponseQ3" id="correctResponseQ3" required></textarea>
</div>
<div class="form-group">
    <label class="label_style jobs_label">Intrebarea 4:</label>
    <textarea rows="5" class="form-control bottom_space" name="question4" ng-model="jobData.question4" id="question4" required></textarea>
</div>
<div class="form-group">
    <label class="label_style jobs_label">Variante de raspuns:</label>
    <div class="row">
        <div class="col-sm-4">
            <textarea rows="3" class="form-control bottom_space" name="response1Q4" ng-model="jobData.response1Q4" id="response1Q4" required></textarea>
        </div>
        <div class="col-sm-4">
            <textarea rows="3" class="form-control bottom_space" name="response2Q4" ng-model="jobData.response2Q4" id="response2Q4" required></textarea>
        </div>
        <div class="col-sm-4">
            <textarea rows="3" class="form-control bottom_space" name="response3Q4" ng-model="jobData.response3Q4" id="response3Q4" required></textarea>
        </div>

    </div>
</div>
<div class="form-group">
    <label class="label_style jobs_label">Raspuns corect:</label>
    <textarea rows="3" class="form-control bottom_space" name="correctResponseQ4" ng-model="jobData.correctResponseQ4" id="correctResponseQ4" required></textarea>
</div>
<div class="form-group">
    <label class="label_style jobs_label">Intrebarea 5:</label>
    <textarea rows="5" class="form-control bottom_space" name="question5" ng-model="jobData.question5" id="question5" required></textarea>
</div>
<div class="form-group">
    <label class="label_style jobs_label">Variante de raspuns:</label>
    <div class="row">
        <div class="col-sm-4">
            <textarea rows="3" class="form-control bottom_space" name="response1Q5" ng-model="jobData.response1Q5" id="response1Q5" required></textarea>
        </div>
        <div class="col-sm-4">
            <textarea rows="3" class="form-control bottom_space" name="response2Q5" ng-model="jobData.response2Q5" id="response2Q5" required></textarea>
        </div>
        <div class="col-sm-4">
            <textarea rows="3" class="form-control bottom_space" name="response3Q5" ng-model="jobData.response3Q5" id="response3Q5" required></textarea>
        </div>

    </div>
</div>
<div class="form-group">
    <label class="label_style jobs_label">Raspuns corect:</label>
    <textarea rows="3" class="form-control bottom_space" name="correctResponseQ5" ng-model="jobData.correctResponseQ5" id="correctResponseQ5" required></textarea>
</div>
