<div class="candidate_background">
    <div class="container-fluid" ng-controller="candidatesController">
        <div class="row">
            <label class="label_style jobs_label">Lista job-uri:</label>
            <div class="selectContainer">
                <select class="form-control" ng-model="selectedJob" ng-change="populateCandidatesTable()" data-ng-options="jobOption as jobOption.jobInfo for jobOption in jobList">
                    <option style="display:none" value="">Alege un job</option>
                </select>
            </div>
        </div>
        <div class="container-fluid container_with_scrollBarv1">
            <div class="table-responsive custom_table">          
                <table class="table">
                    <thead>
                        <tr class="custom-row">
                            <th>#</th>
                            <th>Nume utilizator</th>
                            <th>Nume Candidat</th>
                            <th>Nota test</th>
                            <th>Nota CV</th>
                            <th>CV</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table_row" ng-repeat="candidate in candidates">
                            <td class="text"><span>{{$index}}</span></td>
                            <td class="text"><span>{{candidate.userName}}</span></td>
                            <td class="text"><span>{{candidate.firstName}} {{candidate.lastName}}</span></td>
                            <td class="text"><span>{{candidate.testPoints}}</span></td>
                            <td class="text"><span>{{candidate.cvPoints}}<span></td>
                            <td class="text"><span><button class="custom_button" ng-click="downloadCV(candidate.cvPath)">Descarca CV</button></span></td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>



