<div class="register_form_background">
    <img class="logo" src="imagini/newlogo.png">
        <form name="forgotPassworForm" ng-controller="forgotPasswordContoller" autocomplete="off" novalidate>
            <div class="form-group">
                <label class="label_style" for="user_name">Nume utilizator:</label>
                <input class="form-control bottom_space" name="userName" ng-model="userName" id="userName" required>
            </div>
            <div class="form-group">
                <label id="label1" class="label_position label_style" for="pass"><span id="forgotPass1" class="tooltipClass" data-toggle="tooltip" data-placement="left" 
                data-original-title={{pass1Tooltip}} tooltip></span>Noua parola (minim 8 caractere si un caracter special):</label>
                <input type="password" class="form-control bottom_space" name="newPassword1" ng-model="newPassword1" ng-change="testPasswordContent()" id="pass1" required>
            </div>
            <div class="form-group">
                <label class="label_position label_style" for="pass"><span id="forgotPass2" class="tooltipClass" data-toggle="tooltip" data-placement="left" 
                data-original-title={{pass2Tooltip}} tooltip></span>Rescrie parola:</label>
                <input type="password" class="form-control bottom_space" name="newPassword2" ng-model="newPassword2" ng-change="testSamePasswords()" id="pass2" required>
            </div>
            <button class="custom_button" ng-disabled="forgotPassworForm.userName.$invalid || forgotPassworForm.newPassword1.$invalid
                    || forgotPassworForm.newPassword2.$invalid" ng-click="submitForm()">Schimba parola</button>
        </form>
    <div class="error_label_position">
        <label id="errorLabel_forgot_pass"></label>
    </div>
</div>


