<div class="jobs_form_background">
    <div class="container-fluid container_with_scrollBarv1">
        <div class="table-responsive" ng-controller="listOfJobsController">          
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nume</th>
                        <th>Proiect</th>
                        <th>Descriere</th>
                        <th>Cunostinte necesare</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="job in jobs">
                        <td class="text"><span>{{$index}}</span></td>
                        <td class="text"><span class="wrapTextTooltip" data-original-title={{job.jobName}} data-toggle="tooltip" data-placement="right" tooltipoverflow>{{job.jobName}}</span></td>
                        <td class="text"><span class="wrapTextTooltip" data-original-title={{job.jobProject}} data-toggle="tooltip" data-placement="right" tooltipoverflow>{{job.jobProject}}</span></td>
                        <td class="text"><span class="wrapTextTooltip" data-original-title={{job.jobDescription}} data-toggle="tooltip" data-placement="right" tooltipoverflow>{{job.jobDescription}}<span></td>
                        <td class="text"><span class="wrapTextTooltip" data-original-title={{job.jobRequirements}} data-toggle="tooltip" data-placement="right" tooltipoverflow>{{job.jobRequirements}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>