.navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar-brand {
    background: url(../imagini/newlogo.png);
    width: 200px
}

.navbar-default .navbar-nav li a {
    color: #0077b3;
    font-family: 'Chewy';
    font-size: 15px;
}

.navbar-nav li a:hover {
    color: #004466 !important;
    background-color: #fff !important;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    color: #004466 !important;
    background: #fff !important;
}

.navbar-default {
    background-image: linear-gradient(to bottom,whitesmoke 0,whitesmoke 10%);
}

.custom_tabs {
    margin-top: 100px;
    font-family: 'Chewy';
    font-size: 15px;
}

.custom_tabs .active a,
.custom_tabs .active a:hover {
    color: #004466 !important;
    background: whitesmoke !important;
}

a {
    color: #0077b3;
}

.jobs_form_background {
    background: whitesmoke; 
    padding: 20px;
    max-width: 1200px;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #ddd;
    border-top-color: transparent;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

body, html {
    margin: 0;
    height:80%;
}

.container_with_scrollBarv1, .parent{
    height: 90%;
}

.container_with_scrollBarv2, .parent{
    height: 65%;
}

#createJobGrid, #modifyJobGrid {
    height:100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.jobs_label {
    color: #004466 !important;
}

.checkbox, .radio {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.table td.text {
    max-width: 177px;
}
.table td.text span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

.table {
    height: 100%;
    width: 100%;
    margin-bottom: 0;
}
.table-responsive {
    height: 100%;
}

.wrapTextTooltip + .tooltip > .tooltip-inner {
    background-color: #004466;
    max-width: 285px;
    opacity: 1;
    color: #FFFFFF; 
    padding: 5px;
    font-size: 13px;
    font-family: 'Chewy';
    overflow-wrap: break-word;
}

.wrapTextTooltip + .tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;  
    margin-top: -5px;  
    border-width: 5px 5px 5px 0;  
    border-right-color: #004466;
}

th {
    font-family: 'Chewy';
    font-size: 15px;
    color: #004466;
    text-align: center;
}

td {
    font-size: 14px;
    text-align: center;
}

.candidate_background {
    background: whitesmoke; 
    padding: 20px;
    max-width: 1200px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #ddd;
    border-top-color: transparent;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    margin: 150px auto;
}

.custom_table {
    margin-top: 20px;
}

.custom-row { 
    height: 0px!important; 
}

.custom_div {
    margin-top: 10px;
}