.navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar-brand {
    background: url(../imagini/newlogo.png);
    width: 200px
}

.navbar-default .navbar-nav li a {
    color: #0077b3;
    font-family: 'Chewy';
    font-size: 15px;
}

.navbar-nav li a:hover {
    color: #004466 !important;
    background-color: #fff !important;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    color: #004466 !important;
    background: #fff !important;
}

.navbar-default {
    background-image: linear-gradient(to bottom,whitesmoke 0,whitesmoke 10%);
}

.custom_tabs {
    margin-top: 100px;
    font-family: 'Chewy';
    font-size: 15px;
}

.custom_tabs .active a,
.custom_tabs .active a:hover {
    color: #004466 !important;
    background: whitesmoke !important;
}

a {
    color: #0077b3;
}

.jobs_form_background {
    background: whitesmoke; 
    padding: 20px;
    max-width: 1200px;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #ddd;
    border-top-color: transparent;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

body, html {
    margin: 0;
    height:80%;
}

.container_with_scrollBarv1, .parent{
    height: 90%;
}

.container_with_scrollBarv2, .parent{
    height: 65%;
}

.container_with_scrollBarv3, .parent{
    height: 60%;
}

#createJobGrid, #modifyJobGrid, #takeTestGrid {
    height:100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.jobs_label {
    color: #004466 !important;
}

.checkbox, .radio {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.table td.text {
    max-width: 177px;
}
.table td.text span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

.table {
    width: 100%;
    margin-bottom: 0;
}
.table-responsive {
    height: 100%;
}

.wrapTextTooltip + .tooltip > .tooltip-inner {
    background-color: #004466;
    max-width: 285px;
    opacity: 1;
    color: #FFFFFF; 
    padding: 5px;
    font-size: 13px;
    font-family: 'Chewy';
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.wrapTextTooltip + .tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;  
    margin-top: -5px;  
    border-width: 5px 5px 5px 0;  
    border-right-color: #004466;
}

th {
    font-family: 'Chewy';
    font-size: 15px;
    color: #004466;
    text-align: center;
}

td {
    font-size: 14px;
    text-align: center;
}

.candidate_background {
    background: whitesmoke; 
    padding: 20px;
    max-width: 1200px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #ddd;
    border-top-color: transparent;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    margin: 150px auto;
}

.uploadCV_background_adjustments {
    margin: 300px auto !important;
}

.custom_table {
    margin-top: 20px;
}

.custom-row { 
    height: 0px!important;
}

.custom_div {
    margin-top: 10px;
}

.take_test_alignment {
    margin-left: 15px;
}

.take_test_radio_button_alignment {
    padding-bottom: 15px;
}

.custom_row_alignment {
    text-align: -webkit-center;
}

.inputfile_disabled{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    display: inline-block; 
}
.inputfile_disabled + label{
    font-size: 15px;
    font-family: 'Chewy';
    border-radius: 5px;
    font-weight: normal;
    color: white;
    padding: 6px;
    background-color: #616A6B;
    display: inline-block;  
}
.inputfile_design{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    display: inline-block;
}
.inputfile_design + label{
    font-size: 15px;
    font-family: 'Chewy';
    border-radius: 5px;
    font-weight: normal;
    color: white;
    padding: 6px;
    background-color: #2874A6;
    display: inline-block;
    cursor: pointer; /* "hand" cursor */
}
.inputfile_design:focus + label{
    outline: 1px dotted #000;/* for browsers that do not understand the -webkit… expression*/
    outline: -webkit-focus-ring-color auto 5px;/*little trick for obtaining default outline looks on Chrome, Opera and Safari*/
    background-color: #1B4F72;
}
.inputfile_design +label:hover {
    background-color: #1B4F72;
}

.upload_logo{
    margin-right: 6px;
    margin-left: 2px;
}

.trim_text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.success_label_position {
    text-align: center;
    color: #2874A6;
    font-family: 'Chewy';
    font-size: 15px; 
}

.upload_CV {
    background-color: #616A6B!important;
    cursor: default!important;
}

.text-with-newlines {
    white-space: pre-wrap;
}
